<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553517290555-a38lvcsgiheqkdh454co01ka3j10v2tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553517290555-a38lvcsgiheqkdh454co01ka3j10v2tj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553517290555-6j3isvs42420oe2dsk32o849jttug2v2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1xo1HA4CuCDWhEmsG64ALDlY29LmK9J4</string>
	<key>GCM_SENDER_ID</key>
	<string>553517290555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.actividadcmg6</string>
	<key>PROJECT_ID</key>
	<string>inicio-2ed6b</string>
	<key>STORAGE_BUCKET</key>
	<string>inicio-2ed6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553517290555:ios:cf3958524d3d42affa781e</string>
</dict>
</plist>